* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #00e5ff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 229, 255, 0.4);
    flex-wrap: wrap; /* Adiciona flexibilidade para dispositivos móveis */
}

.logo h1 {
    font-size: 1.5em;
    color: #00e5ff;
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
    text-decoration: underline;
    
}   

.navbar ul li a {
    text-decoration: none;
    color: #00e5ff;
    font-weight: 500;
    transition: color 0.3s ease;
    text-shadow: 0 0 10px #00e5ff;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.map-container {
    padding: 40px 20px;
    text-align: center;
    background-color: #1a1a1a;
    color: #00e5ff;
}

.map-container h2 {
    font-size: 2em;
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
    margin-bottom: 30px;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.map-node {
    background-color: #333;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 229, 255, 0.4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-node:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 229, 255, 0.6);
}

.map-node h3 a {
    color: #00e5ff;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
}

.map-node h3 a:hover {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.map-node p {
    font-size: 1em;
    color: #b3b3b3;
    margin-top: 10px;
}

.map-arrow {
    font-size: 2em;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    color: #b3b3b3;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 229, 255, 0.4);
    margin-top: 40px;
}

.footer-bottom {
    font-size: 0.8em;
    color: #b3b3b3;
}
